.ipynb_checkpoints/Interactive_fit_main-checkpoint.ipynb
/results
**/*.cpython-38..pyc
.ipynb_checkpoints/definitions-checkpoint.py
__pycache__/definitions.cpython-38.pyc
*checkpoint.ipynb
*checkpoint.md

